/* login.css */
.dark-bg {
  background-color: #343a40; /* Dark background for the body */
  color: #fff; /* Text color for the body */
}

/* Button styles */
.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
  color: #fff;
  font-weight: bold; /* Customize font weight */
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  border: none;
  transition: background-color 0.3s;
  color: #fff;
  font-weight: bold;
}

.btn-success:hover {
  background-color: #1d9239;
}
